{% extends 'blog/base.html' %}


{% load bootstrap5 %}


{% block header %}
    <div class="jumbotron jumbotron-fluid">
        <p class="lead">Добавить новую тему:</p>
    </div>
{% endblock header %}


{% block content %}


<form action="{% url 'blog:new_topic'  %}" method="post" class="form">
    {% csrf_token %}
    
    {% bootstrap_form form %}

    {% buttons %}
        <button name="submit" class="btn btn-primary">добавить тему</button>
    {% endbuttons%}
</form>

{% endblock content %}