{% extends 'blog/base.html' %}

{% block header %}
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Темы</h1>
    </div>
{% endblock header %}


{% block content %}

    <ul class="list-group">
        {% for topic in topics %}
            <a href="{% url 'blog:topic' topic.id %}" class="list-group-item list-group-item-action"> {{ topic }} </a>
        {% empty %}
            <li class="list-group-item">Не найдено ни одной темы.</li>
        {% endfor %}   
     </ul>

    <hr />

    <a href="{% url 'blog:new_topic' %}" class="btn btn-primary">Добавить новую тему</a>


{% endblock content %}